<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SingletonExample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31AC9E2D22834C69004DBA08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31AC9E4122834C6A004DBA08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31AC9E4C22834C6A004DBA08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
